*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
background-color: #f2ece5;    
}

header{
    background-color: black;
}

header img{
    width: auto;
    height: auto;
}

#cabeza {
    padding: 2.7%;
    padding-top: 1.3%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

i {
    color: #ffffff;
}

nav{
    text-align: center;
}

nav ul li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

nav ul li a{
    padding: 10px;
    color: white;
    text-decoration: none;
}


.uno{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 2%;
}

.uno h1{
    font-family: 'niveau-grotesk',sans-serif;
    font-size: 30px;
}

.uno h4{
    font-size: 14px;
    font-family: 'myriad-pro', sans-serif;
    color:#6f6f6f;
}


.catalogo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    font-family: 'niveau-grotesk',sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.catalogo article{
    width: 20%;
    padding: 0.5%;
    height: auto;
    justify-content: center;
    align-items: flex-start;
}

.catalogo article h2{
    font-size: 14px;
}
.catalogo article p {
    font-size: 14px;
    font-family: 'myriad-pro', sans-serif;
    color: #808080
}

.catalogo article img{
    padding-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.blogtitle{
    font-family: 'niveau-grotesk',sans-serif;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 6%;
}

.blog{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog article div{
    background-color: rgb(255, 255, 255);
    padding: 10%;
    align-items: flex-start;
}

.blog article a{
    font-size: 16px;
    color: black;
    text-align: left;
    font-family: 'niveau-grotesk',sans-serif;
}

.blog article h3{
    font-size: 14px;
    text-align: left;
    color: #808080;
    font-family: 'myriad-pro', sans-serif;
}

.blog article{
    width: 23%;
    height: auto;
    justify-content: space-between;
    align-items: flex-start;
}


.blog article img{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

footer {
    background-color: #1e1e1e;
}

footer p {
    color: #808080;
}

footer li {
    color: white;
    font-family: 'myriad-pro', sans-serif;
    font-size: 14px;
    list-style:none;
}

footer h2{
    color:#b7b7b7;
    font-family: 'niveau-grotesk',sans-serif;
    font-size: 13px;
    margin-bottom: 5%;
}

footer section{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 2%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

footer div {
    padding: 1%;
    width: 33%;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-between;
    margin: 0%;

}

footer a{
    color: white;
}

.copy p	{
    text-align: center;
    margin: 0%;
}

.copy {
    display: block;
}

a{
    text-decoration: none;
}

#watch {
    background-color: #1e1e1e;
    color: #f2ece5;
    padding: 5%;
    text-align: left;
}

#compra header{
    background-color: #ffffff;
}

.menuacotes{
    color: #1e1e1e;
}

#compra header article .material-icons{
    color: #1e1e1e;
}